CompileFlags:
  Add:
    - -Wall
    - -Wextra
    - -pedantic
    - -std=c23
    - -DDEBUG

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add:
      - bugprone-*
      - cert-*
      - modernize-*
      - performance-*

