CompileFlags:
  Add:
    - -Wall
    - -Wextra
    - -pedantic
    - -x
    - c
    - -std=c23
    - -DDEBUG

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add:
      - bugprone-*
      - cert-*
      - modernize-*
      - performance-*
    Remove:
      - modernize-use-nullptr
      - bugprone-easily-swappable-parameters
